numpy
langchain
transformers
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
langchain-huggingface
dotenv
accelerate
datasets
huggingface_hub
bitsandbytes
peft
trl
evaluate
wandb
unsloth
neptune
neptune-optuna
rouge_score